boot.img
vendor/data-app/SmartHome/SmartHome.apk
vendor/camera/mimoji/model2.zip
system/system/data-app/MiShop/MiShop.apk
system/system/apex/com.android.vndk.current.apex
system/system/priv-app/Browser/Browser.apk
